parameters:
	ignoreErrors:
		-
			message: "#^Class has a static method must so must contains \"Static\" in its name$#"
			count: 1
			path: Classes/Cache/Cache.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, Doctrine\\\\DBAL\\\\Result\\|int\\<min, \\-1\\>\\|int\\<1, max\\> given\\.$#"
			count: 1
			path: Classes/Command/CleanUpTransfersCommand.php

		-
			message: "#^Cannot call method success\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/SyncCommand.php

		-
			message: "#^Cannot call method warning\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/SyncCommand.php

		-
			message: "#^Cannot call method success\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/TransmitCommand.php

		-
			message: "#^Cannot call method warning\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/TransmitCommand.php

		-
			message: "#^Cannot call method getLocale\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Site\\\\Entity\\\\SiteLanguage\\|null\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Cannot call method getRequest\\(\\) on TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer\\|null\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\DataProcessing\\\\TableProcessor\\:\\:process\\(\\) should return array\\{data\\: array\\<int\\|string\\|null\\>, current\\: null, table\\?\\: Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table, rows\\?\\: array\\<int, array\\<float\\|int\\|string\\>\\>\\} but returns array\\|null\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Property Brotkrueml\\\\JobRouterData\\\\DataProcessing\\\\TableProcessor\\:\\:\\$processedData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Cannot call method findOneByHandle\\(\\) on Brotkrueml\\\\JobRouterData\\\\Domain\\\\Repository\\\\TableRepository\\|null\\.$#"
			count: 1
			path: Classes/Domain/Finishers/TransmitDataFinisher.php

		-
			message: "#^Cannot call method store\\(\\) on Brotkrueml\\\\JobRouterData\\\\Transfer\\\\Preparer\\|null\\.$#"
			count: 1
			path: Classes/Domain/Finishers/TransmitDataFinisher.php

		-
			message: "#^Class Brotkrueml\\\\JobRouterData\\\\Domain\\\\Repository\\\\DatasetRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: Classes/Domain/Repository/DatasetRepository.php

		-
			message: "#^Cannot call method fetchAll\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Cannot call method fetchColumn\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Class Brotkrueml\\\\JobRouterData\\\\Domain\\\\Repository\\\\TableRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: Classes/Domain/Repository/TableRepository.php

		-
			message: "#^Class Brotkrueml\\\\JobRouterData\\\\Domain\\\\Repository\\\\TransferRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: Classes/Domain/Repository/TransferRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\PageLayoutView\\\\JobDataTablePreviewRenderer\\:\\:getItemContent\\(\\) has parameter \\$row with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/JobDataTablePreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\PageLayoutView\\\\JobDataTablePreviewRenderer\\:\\:preProcess\\(\\) has parameter \\$row with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/JobDataTablePreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$command with no type specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$commandValue with no type specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$recordId with no type specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$table with no type specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Cannot call method emergency\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\CustomTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$customTableColumns with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\CustomTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$datasets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 3
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method emergency\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\SimpleTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$datasets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Parameter \\#1 \\$tableUid of static method Brotkrueml\\\\JobRouterData\\\\Cache\\\\Cache\\:\\:clearCacheByTable\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method emergency\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SynchronisationRunner.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SynchronisationRunner.php

		-
			message: "#^Binary operation \"\\.\" between 'Affected rows\\: ' and Doctrine\\\\DBAL\\\\Result\\|int\\<min, \\-1\\>\\|int\\<1, max\\> results in an error\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method notice\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method critical\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Preparer.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Transmitter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Transmitter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Transmitter.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\UserFunctions\\\\FormEngine\\\\CustomTables\\:\\:getTables\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/UserFunctions/FormEngine/CustomTables.php

