parameters:
	ignoreErrors:
		- # ViewInterface is deprecated in v11, but necessary for v10 compatibility. Will be refactored once minimum requirement is TYPO3 v11
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:getModuleTemplate\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\DataProcessing\\\\TableProcessor\\:\\:process\\(\\) has parameter \\$contentObjectConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\DataProcessing\\\\TableProcessor\\:\\:process\\(\\) has parameter \\$processedData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\DataProcessing\\\\TableProcessor\\:\\:process\\(\\) has parameter \\$processorConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\\\Cell\\:\\:setContent\\(\\) has parameter \\$content with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Model/Table/Cell.php

		-
			message: "#^Property Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\\\Row\\:\\:\\$cells \\(array\\<Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\\\Cell\\>\\) does not accept iterable\\<Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\\\Cell\\>\\.$#"
			count: 1
			path: Classes/Domain/Model/Table/Row.php

		-
			message: "#^Cannot call method fetchAll\\(\\) on Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\.$#"
			count: 1
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Cannot call method fetchColumn\\(\\) on Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\.$#"
			count: 2
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Domain\\\\Repository\\\\QueryBuilder\\\\TransferRepository\\:\\:deleteOldSuccessfulTransfers\\(\\) should return int but returns Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\.$#"
			count: 1
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\PageLayoutView\\\\TablePreviewRenderer\\:\\:getItemContent\\(\\) has parameter \\$row with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/TablePreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\PageLayoutView\\\\TablePreviewRenderer\\:\\:preProcess\\(\\) has parameter \\$row with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/PageLayoutView/TablePreviewRenderer.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$command with no typehint specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$commandValue with no typehint specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$recordId with no typehint specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Hooks\\\\TableUpdateHook\\:\\:processCmdmap_postProcess\\(\\) has parameter \\$table with no typehint specified\\.$#"
			count: 1
			path: Classes/Hooks/TableUpdateHook.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Service\\\\CustomTables\\:\\:getTables\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/CustomTables.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 2
			path: Classes/Synchronisation/AbstractSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\AbstractSynchroniser\\:\\:hashDatasets\\(\\) has parameter \\$datasets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/AbstractSynchroniser.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Cannot call method emergency\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\CustomTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$customTableColumns with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\CustomTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$datasets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 3
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method emergency\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\SimpleTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$datasets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message: "#^Parameter \\#1 \\$tableUid of static method Brotkrueml\\\\JobRouterData\\\\Cache\\\\Cache\\:\\:clearCacheByTable\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

		-
			message:
				"""
					#^"switch \\(\\$table\\-\\>getType\\(\\)\\) \\{
					    case \\\\Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\:\\:TYPE_SIMPLE\\:
					        \\$this\\-\\>totalTables\\+\\+;
					        if \\(\\!\\$this\\-\\>simpleTableSynchroniser\\-\\>synchroniseTable\\(\\$table\\)\\) \\{
					            \\$this\\-\\>erroneousTables\\+\\+;
					        \\}
					        break;
					    case \\\\Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\:\\:TYPE_CUSTOM_TABLE\\:
					        \\$this\\-\\>totalTables\\+\\+;
					        if \\(\\!\\$this\\-\\>customTableSynchroniser\\-\\>synchroniseTable\\(\\$table\\)\\) \\{
					            \\$this\\-\\>erroneousTables\\+\\+;
					        \\}
					        break;
					    case \\\\Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\:\\:TYPE_OTHER_USAGE\\:
					    case \\\\Brotkrueml\\\\JobRouterData\\\\Domain\\\\Model\\\\Table\\:\\:TYPE_FORM_FINISHER\\:
					        // do nothing
					        break;
					    default\\:
					        \\$message \\= \\\\sprintf\\('Table with uid "%%d" has invalid type "%%d"\\!', \\$table\\-\\>getUid\\(\\), \\$table\\-\\>getType\\(\\)\\);
					        \\$this\\-\\>logger\\-\\>error\\(\\$message\\);
					        \\$this\\-\\>erroneousTables\\+\\+;
					\\}" is forbidden to use$#
				"""
			count: 1
			path: Classes/Synchronisation/SynchronisationRunner.php

		-
			message: "#^Cannot call method emergency\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SynchronisationRunner.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Synchronisation/SynchronisationRunner.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method notice\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method critical\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Preparer.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Transmitter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Transmitter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Transmitter.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\ViewHelpers\\\\ColumnLabelViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/ColumnLabelViewHelper.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\ViewHelpers\\\\FormatCellViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/FormatCellViewHelper.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\ViewHelpers\\\\SubtractViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/SubtractViewHelper.php

