parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, Doctrine\\\\DBAL\\\\Result\\|int\\<min, \\-1\\>\\|int\\<1, max\\> given\\.$#"
			count: 1
			path: Classes/Command/CleanUpTransfersCommand.php

		-
			message: "#^Cannot call method success\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/SyncCommand.php

		-
			message: "#^Cannot call method warning\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/SyncCommand.php

		-
			message: "#^Cannot call method success\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/TransmitCommand.php

		-
			message: "#^Cannot call method warning\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: Classes/Command/TransmitCommand.php

		-
			message: "#^Cannot call method getLocale\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Site\\\\Entity\\\\SiteLanguage\\|null\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Property Brotkrueml\\\\JobRouterData\\\\DataProcessing\\\\TableProcessor\\:\\:\\$processedData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^There is no request attribute \"frontend\\.controller\" configured so we can't figure out the exact type to return when calling Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\:\\:getAttribute$#"
			count: 1
			path: Classes/DataProcessing/TableProcessor.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Domain\\\\Repository\\\\QueryBuilder\\\\TransferRepository\\:\\:countGroupByTransmitSuccess\\(\\) should return array\\<int, array\\{transmit_success\\: int, count\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\CustomTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$customTableColumns with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\CustomTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$datasets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/CustomTableSynchroniser.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterData\\\\Synchronisation\\\\SimpleTableSynchroniser\\:\\:storeDatasets\\(\\) has parameter \\$datasets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Synchronisation/SimpleTableSynchroniser.php

