<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <br>
    <f:if condition="{table.name}">
        <strong class="jobrouter-data-ce-info">{table.name -> f:format.case(mode: 'upper')}</strong>
        <br>
        <br>
    </f:if>

    <f:if condition="{table}">
        <f:then>
            <f:if condition="{rows}">
                <f:then>
                    <f:render section="DatasetExcerpt" arguments="{table: table, rows: rows}"/>
                </f:then>
                <f:else>
                    <div class="alert alert-info">
                        <f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/ContentElement.xlf:error.table_has_no_rows"/>
                    </div>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <div class="alert alert-danger">
                <f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/ContentElement.xlf:error.table_not_available"/>
            </div>
        </f:else>
    </f:if>

    <f:section name="DatasetExcerpt">
        <f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(extensionName: \'jobrouter_data\', path:\'Css/Backend/PageLayoutView.css\')}'}"/>

        <f:variable name="MAX_ROWS" value="5"/>
        <table class="jobrouter-data-table">
            <thead>
                <tr>
                    <f:for each="{table.columns}" as="column">
                        <th scope="col">
                            <f:if condition="{column.label}">
                                <f:then><f:translate key="{column.label}" default="{column.label}"/></f:then>
                                <f:else>{column.name}</f:else>
                            </f:if>
                        </th>
                    </f:for>
                </tr>
            </thead>
            <tbody>
                <f:for each="{rows}" as="row" iteration="i">
                    <f:if condition="{iterator.index} < {MAX_ROWS}">
                        <tr>
                            <f:for each="{table.columns}" as="column">
                                <td>{row.{column.name}}</td>
                            </f:for>
                        </tr>
                    </f:if>
                </f:for>
                <f:if condition="{rows -> f:count()} > {MAX_ROWS}">
                    <f:variable name="remainingRows"><jobRouterData:subtract minuend="{rows -> f:count()}" subtrahend="{MAX_ROWS}"/></f:variable>
                    <tr>
                        <td colspan="{table.columns -> f:count()}">
                            <f:if condition="{remainingRows} == 1">
                                <f:then>
                                    <f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/ContentElement.xlf:plus_one_more_row"/>
                                </f:then>
                                <f:else>
                                    <f:translate
                                        key="LLL:EXT:jobrouter_data/Resources/Private/Language/ContentElement.xlf:plus_more_rows"
                                        arguments="{0: remainingRows}"
                                    />
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:if>
            </tbody>
        </table>
    </f:section>
</html>
