<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default" />

    <f:section name="Main">
        <f:if condition="{table} && {rows}">
            <table class="ce-table">
                <thead>
                    <tr>
                        <f:for each="{table.columns}" as="column">
                            <th scope="col">
                                <f:if condition="{column.label}">
                                    <f:then><f:translate key="{column.label}" default="{column.label}"/></f:then>
                                    <f:else>{column.name}</f:else>
                                </f:if>
                            </th>
                        </f:for>
                    </tr>
                </thead>
                <tbody>
                    <f:for as="row" each="{rows}">
                        <tr>
                            <f:for as="column" each="{table.columns}">
                                <td>{row.{column.name}}</td>
                            </f:for>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </f:if>
    </f:section>
</html>
