.jobrouter-data-ce-info {
    text-transform: uppercase;
}

.jobrouter-data-table td,
.jobrouter-data-table th {
    border: 1px solid #ccc;
    padding: 5px;
}

.jobrouter-data-table tr:hover,
.jobrouter-data-table th {
    background: #f5f5f5;
}

.jobrouter-data-link {
    text-decoration: underline;
}
