<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:jobRouterData="http://typo3.org/ns/Brotkrueml/JobRouterData/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="BackendAdministration" />

    <f:section name="headline">
        <h1><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:heading_text"/></h1>
    </f:section>

    <f:section name="content">
        <f:if condition="{simpleTables -> f:count()} || {localTables -> f:count()}">
            <f:then>
                <div id="jobrouter-data-table-list">
                    <f:if condition="{simpleTables -> f:count()}">
                        <f:render section="simpleTables" arguments="{_all}"/>
                    </f:if>
                    <f:if condition="{localTables -> f:count()}">
                        <f:render section="localTables" arguments="{_all}"/>
                    </f:if>
                    <f:if condition="{otherTables -> f:count()}">
                        <f:render section="otherTables" arguments="{_all}"/>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <f:be.infobox state="-1" title="{f:translate(key: 'LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:tables_not_found.title')}">
                    <p><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:tables_not_found.message"/></p>
                    <be:link.newRecord class="btn btn-primary" table="tx_jobrouterdata_domain_model_table">
                        <f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:table_create"/>
                    </be:link.newRecord>
                </f:be.infobox>
            </f:else>
        </f:if>
    </f:section>

    <f:section name="simpleTables">
        <h2><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.type.simple_synchronisation"/></h2>
        <table class="table table-vertical-top table-striped table-hover">
            <thead>
                <tr>
                    <f:render section="defaultColumnsHeader"/>
                    <th scope="col"><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.columns"/></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{simpleTables}" as="table">
                    <f:variable name="manageJobDataTableLink">{table.connection.baseUrl}?cmd=JobData&module=jobdata&modcmd=ManageTables_EditTables&guid={table.tableGuid}</f:variable>
                    <tr>
                        <f:render section="defaultColumns" arguments="{table: table, manageJobDataTableLink: manageJobDataTableLink}"/>
                        <td>
                            <ul>
                                <f:for each="{table.columns}" as="column">
                                    <li><jobRouterData:columnLabel column="{column}"/></li>
                                </f:for>
                            </ul>
                        </td>
                        <f:render section="buttonsColumn" arguments="{table: table, manageJobDataTableLink: manageJobDataTableLink}"/>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </f:section>

    <f:section name="localTables">
        <h2><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.type.synchronisation_in_own_table"/></h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <f:render section="defaultColumnsHeader"/>
                    <th scope="col"><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.own_table"/></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{localTables}" as="table">
                    <f:variable name="manageJobDataTableLink">{table.connection.baseUrl}?cmd=JobData&module=jobdata&modcmd=ManageTables_EditTables&guid={table.tableGuid}</f:variable>
                    <tr>
                        <f:render section="defaultColumns" arguments="{table: table, manageJobDataTableLink: manageJobDataTableLink}"/>
                        <td>{table.localTable}</td>
                        <f:render section="buttonsColumn" arguments="{table: table, manageJobDataTableLink: manageJobDataTableLink}"/>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </f:section>

    <f:section name="otherTables">
        <h2><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.type.other_usage"/></h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <f:render section="defaultColumnsHeader"/>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{otherTables}" as="table">
                    <f:variable name="manageJobDataTableLink">{table.connection.baseUrl}?cmd=JobData&module=jobdata&modcmd=ManageTables_EditTables&guid={table.tableGuid}</f:variable>
                    <tr>
                        <f:render section="defaultColumns" arguments="{table: table, manageJobDataTableLink: manageJobDataTableLink}"/>
                        <f:render section="buttonsColumn" arguments="{table: table, manageJobDataTableLink: manageJobDataTableLink}"/>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </f:section>

    <f:section name="defaultColumnsHeader">
        <th scope="col">Uid</th>
        <th scope="col"><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.name"/></th>
        <th scope="col"><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.connection"/></th>
        <th scope="col"><f:translate key="LLL:EXT:jobrouter_data/Resources/Private/Language/Database.xlf:tx_jobrouterdata_domain_model_table.table_guid"/></th>
    </f:section>

    <f:section name="defaultColumns">
        <td>
            {table.uid}
        </td>
        <td>
            <be:link.editRecord table="tx_jobrouterdata_domain_model_table" uid="{table.uid}" title="{f:translate(key: 'LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:action.edit_table')}">{table.name}</be:link.editRecord>
            <f:if condition="{table.disabled}">
                ({f:translate(key: 'LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:status.disabled')})
            </f:if>
        </td>
        <td>
            {table.connection.name}
        </td>
        <td>
            <f:link.external uri="{manageJobDataTableLink}" target="_blank" rel="noopener noreferrer" title="{f:translate(key: 'LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:action.edit_table_structure')}">
                {table.tableGuid}
            </f:link.external>
        </td>
    </f:section>

    <f:section name="buttonsColumn">
        <td>
            <div class="btn-group">
                <be:link.editRecord class="btn btn-default" table="tx_jobrouterdata_domain_model_table" uid="{table.uid}" title="{f:translate(key: 'LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:action.edit_table')}">
                    <core:icon identifier="actions-open"/>
                </be:link.editRecord>
                <a class="btn btn-default jobrouter-data-table-check" data-table-uid="{table.uid}" data-table-name="{table.name}" href="#" title="{f:translate(key: 'LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:action.check_table')}">
                    <core:icon identifier="actions-debug"/>
                </a>
                <f:link.external class="btn btn-default" uri="{manageJobDataTableLink}" target="_blank" rel="noopener noreferrer" title="{f:translate(key: 'LLL:EXT:jobrouter_data/Resources/Private/Language/BackendModule.xlf:action.edit_table_structure')}">
                    <core:icon identifier="actions-database"/>
                </f:link.external>
            </div>
        </td>
    </f:section>
</html>
